<tr class="row">
  <td class="item-title cell">
    <%= link_to link.url, admin_link_path(link) %> (<%= link_to "Edit #{link.resource.class.name.titleize}", link.resource.admin_path %>)
  </td>
  <td class="item-created">
    <%= link.created_at.strftime('%-m/%-d/%Y') %>
  </td>
  <td class="item-updated">
    <%= link.updated_at.strftime('%-m/%-d/%Y') %>
  </td>
  <td class="item-code">
    <%= "#{http_status_label(link.code)} (#{link.code})" %>
  </td>
  <td class="item-destroy">
    <%= link_to 'Ignore', admin_link_path(link), method: :delete  %>
  </td>
</tr>
