<div class="dashboard">
  <div class="toolbar dashboard-toolbar">
    <div class="nav">
      <%= render_breadcrumbs %> / <span><%= @link.url %></span>
    </div>
    <div></div>
  </div>

  <div class="dashboard-wide">
    <div class="input-field">
      <%= label_tag 'Last Checked' %>
      <div><%= @link.updated_at.strftime('%B %-d, %Y, %-l:%m %p') %></div>
    </div>

    <div class="input-field">
      <%= label_tag 'Offending Link' %>
      <%= link_to @link.url, @link.url, target: :_blank %>
    </div>

    <div class="input-field">
      <%= label_tag "Offending #{@link.resource.class.name.titleize}" %>
      <%= link_to @link.resource.title, @link.resource.admin_path %>
    </div>

    <% if @link.stdout.present? %>
    <div class="input-field">
      <%= label_tag 'Scan Output' %>
      <blockquote><%= @link.stdout.to_s.strip %></blockquote>
    </div>
    <% end %>

    <% if @link.stderr.present? %>
    <div class="input-field">
      <%= label_tag 'Scan Errors' %>
      <blockquote class="is-error"><%= @link.stderr.to_s.strip %></blockquote>
    </div>
    <% end %>
    
  </div>
</div>
