<div class="devise-form">
  <h1 class="heading">Reset Password</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <% devise_error_messages! %>
    <%= voltron_flashes %>

    <div class="input-field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="actions clearfix">
      <%= f.submit 'Reset My Password', class: 'button button-ghost is-green full-width' %>
    </div>
  <% end %>
</div>
