<div class="nested-fields article">
  <%= f.hidden_field :position, class: 'position' %>
  <div class="header">
    <div class="handle"></div>
    <%= f.text_field :title, placeholder: 'Title' %>
    <div class="remove">
      <%= link_to_remove_association 'Remove', f %>
    </div>
    <button type="button" class="button button-toggle" onclick="Admin.toggleSection(this);"></button>
  </div>
  <div class="sections">
    <div id="sections_<%= f.object.id %>" class="sections-wrapper sortable" data-group="sections_<%= f.object.id %>" data-selector="section">
      <%= f.fields_for :sections do |section| %>
        <%= render partial: 'admin/guides/section_fields', locals: { f: section } %>
      <% end %>
    </div>
    <%= link_to_add_association 'Add Section', f, :sections, class: 'add-article', data: { association_insertion_method: 'append', association_insertion_node: "#sections_#{f.object.id}" } %>
  </div>
</div>
