<div class="hero">
  <div class="raised">
    <h1>Primary legal sources for women&apos;s empowerment</h1>
    <%= form_with url: records_path, method: :get, local: true, html: { class: 'search' } do |f| %>
      <div class="search-grid <% if params[:view] == 'advanced' %>is-advanced<% end %>">
        <div class="search-wrapper">
          <div class="search-input-wrapper">
            <%= f.text_field :q, class: 'search-input', placeholder: 'Search the LandWise Library' %>
            <div>
              <a href="javascript:void(0);" class="filter-link">Advanced Search</a>
            </div>
          </div>
          <div class="advanced-search" style="display: none;">
            <div class="search-column">
              <h4>Country</h4>
              <%= f.select :country_ids, options_from_collection_for_select(@countries, :id, :title), { include_hidden: false }, multiple: true, class: 'select2 select-country' %>
            </div>

            <div class="search-column">
              <h4>Topic</h4>
              <%= f.select :topic_ids, options_from_collection_for_select(@topics, :id, :title), { include_hidden: false }, multiple: true, class: 'select2 select-topic' %>
            </div>

            <div></div>
            <div>
              <button type="button" class="button button-ghost is-green button-apply f-right">Apply</button>
            </div>
          </div>

          <button type="button" class="filter-button">
            <div class="filter-icon">
          </button>
        </div>
        <% # if params[:view] != 'advanced' %>
        <%
        # <div class="search-facet">
        #   <%= f.select 'country_ids[]', '<option value="">All Countries</option>'.html_safe + options_from_collection_for_select(@countries, :id, :title), {}, placeholder: 'All Countries'
        # </div>
        # <div class="search-facet">
        #   <%= f.select 'topic_ids[]', '<option value="">All Topics</option>'.html_safe + options_from_collection_for_select(@topics, :id, :title), {}, placeholder: 'All Topics'
        # </div>
        %>
        <% # end %>
        <%= f.submit 'Search', class: 'button button-solid is-green' %>
        <%= button_tag 'Browse', class: 'button button-ghost is-white', onclick: "window.location = '#{library_index_path}';", type: 'button' %>
      </div>
    <% end %>
    <div class="callouts">
      <div class="callout callout-about">
        <h3 class="about-heading">About LandWise</h3>
        <p class="summary">Welcome to LandWise, the industry’s most comprehensive source of legal materials, articles, and research for policymakers, researchers, legal practitioners, and advocates working to advance women’s land rights. We regularly update this resource with information published by the experts at Resource Equity as well as other trusted sources from around the world, so be sure to check in regularly.</p>
        <%= button_tag 'Learn More', class: 'button button-ghost is-white', onclick: "window.location = '/about';" %>
      </div>
      <div class="callout callout-guides">
        <h3 class="guides-heading">Practice Guides</h3>
        <p class="summary">Our Practice Guides are checklists that will help you identify and assess issues that may affect women and men differently in relation to rights to and control over land. The guides will help you navigate through potential legal issues as well as social or cultural norms that may affect how the law is practiced.</p>
        <%= button_tag 'Browse Practice Guides', class: 'button button-ghost is-white', onclick: "window.location = '#{guides_path}';" %>
      </div>
    </div>
  </div>
</div>

<article class="home-blocks">
  <section class="block announcements">
    <h2>Announcements</h2>
    <div class="wysiwyg"><%= @announcements.body.html_safe %></div>
  </section>
  <section class="block recent">
    <h2>Recently Added</h2>
    <% @recent.each do |record| %>
    <div class="article">
      <%= link_to record.title, record_path(record) %>
      <div class="article-date"><%= record.created_at.strftime('%B %-d, %Y') %></div>
      <div class="article-meta"><%= record.category.title %> / <%= record.countries.map(&:title).join(', ') %></div>
    </div>
    <% end %>
  </section>
  <section class="block updates">
    <%= render partial: 'shared/global/email_updates' %>
  </section>
</article>

<script type="text/javascript">
jQuery(document).ready(function(){
  jQuery('.select2.select-country').select2({
    placeholder: 'Select Country',
    width: '100%'
  });

  jQuery('.select2.select-topic').select2({
    placeholder: 'Select Topic',
    width: '100%'
  });
});
</script>
