<article class="item">
  <h2 class="item-title"><%= item.title %></h2>

  <% if item.description.present? %>
  <em class="item-description"><%= simple_format item.description %></em>
  <% end %>

  <% if item.document.attached? || item.url.present? %>
  <div class="item-links">
    <% if item.document.attached? %>
    <span><%= link_to 'Download', item.document.service.send(:object_for, item.document.key).public_url, class: 'item-download' %> (<%= number_to_human_size(item.document.blob.byte_size) %>)</span>
    <% end %>

    <% if item.url.present? %>
    <span><%= link_to 'View Website', item.url, class: 'item-view', target: :_blank %></span>
    <% end %>
  </div>
  <% end %>

  <dl class="item-details clearfix">
    <% if item.year.present? %>
    <dt>Year:</dt>
    <dd><%= item.year == 9999 ? 'Unknown' : item.year %></dd>
    <% end %>

    <% if item.languages.any? %>
    <dt>Languages:</dt>
    <dd><%= item.languages.map(&:title).join(', ') %></dd>
    <% end %>
  </dl>
</article>