<article class="record paper">
  <h4 class="paper-title">
    <% if record.restricted? %>
    <%= image_tag 'restricted.svg', size: 18, title: 'Restricted', class: 'restricted' %>
    <% end %>
    <%= link_to record.title, record_path(record), class: 'interactive-link' %>
  </h4>
  <% if record.description.present? %>
  <em class="record-description"><%= simple_format record.description %></em>
  <% end %>
  <dl class="record-details clearfix">
    <dt>Collection Type:</dt>
    <dd><%= record.category.title %></dd>
    <dt>Country:</dt>
    <dd><%= record.countries.map(&:title).join(', ') %></dd>

    <% if record.creator.present? %>
    <dt>Creator:</dt>
    <dd><%= record.creator %></dd>
    <% end %>

    <% years = record.items.map(&:year).flatten.compact.uniq.sort.reverse %>
    <% if years.any? %>
    <dt>Year<%= years.length > 1 ? 's' : '' %>:</dt>
    <dd><%= years.map { |y| y == 9999 ? 'Unknown' : y }.join(', ') %></dd>
    <% end %>
  </dl>

  <!--
  <div class="paper-check">
    <input type="checkbox" value="<%= record.id %>" id="record_<%= record.id %>" class="checkbox" />
    <label for="record_<%= record.id %>"><span class="checkbox-background"></span></label>
  </div>
  -->
</article>
