<div class="layout-two-column-left">
  <aside class="sidebar sidebar-green">
    <h2>Search</h2>
    <%= form_with url: records_path, method: :get, local: true, html: { class: 'record-search' } do |f| %>
      <% current_filters(country_ids: Country, topic_ids: Topic, language_ids: Language, category_id: Category, jurisdiction_id: Jurisdiction) do |item, remove, param, value| %>
        <%= f.hidden_field param, value: value %>
      <% end %>
      <%= f.text_field :q, value: params[:q], class: 'search-input', placeholder: 'Search the LandWise Library' %>
      <%= f.submit 'Search', class: 'button button-ghost is-white full-width' %>
    <% end %>
    <%= render partial: 'shared/global/email_updates' %>
  </aside>
  <main class="main-content">
    <div class="top-links">
      <button class="sidebar-menu"></button>
      <div class="breadcrumbs">
        <%= render_breadcrumbs separator: ' / ' %> / <span>Browse</span>
      </div>
    </div>
    <header class="page-header">
      <h1>Browse</h1>
    </header>
    <div class="library-results">
      <div class="library-column left">
        <h3 class="facet-label">Country</h3>
        <% collection_for :country_ids, Country do |item, count| %>
          <div class="facet-result">
            <%= link_to item.title, records_path(country_ids: item.id) %><em><%= count %></em>
          </div>
        <% end %>
      </div>
      <div class="library-column middle">
        <h3 class="facet-label">Jurisdiction</h3>
        <% collection_for :jurisdiction_id, Jurisdiction do |item, count| %>
          <div class="facet-result">
            <%= link_to item.title, records_path(jurisdiction_id: item.id) %><em><%= count %></em>
          </div>
        <% end %>

        <h3 class="facet-label">Topic</h3>
        <% collection_for :topic_ids, Topic do |item, count| %>
          <div class="facet-result">
            <%= link_to item.title, records_path(topic_ids: item.id) %><em><%= count %></em>
          </div>
        <% end %>
      </div>
      <div class="library-column right">
        <h3 class="facet-label">Collection Type</h3>
        <% collection_for :category_id, Category do |item, count| %>
          <div class="facet-result">
            <%= link_to item.title, records_path(category_id: item.id) %><em><%= count %></em>
          </div>
        <% end %>

        <h3 class="facet-label">Language</h3>
        <% collection_for :language_ids, Language do |item, count| %>
          <div class="facet-result">
            <%= link_to item.title, records_path(language_ids: item.id) %><em><%= count %></em>
          </div>
        <% end %>
      </div>
    </div>
  </main>
</div>
