<%= form_with url: admin_role_path(@role.id), model: @role, local: true do |f| %>
<div class="dashboard">
  <div class="toolbar dashboard-toolbar">
    <div class="nav">
      <%= render_breadcrumbs %> / <span><%= @role.title %></span>
    </div>
    <div></div>
    <% unless @role.locked? %>
    <%= f.submit 'Save', class: 'button button-solid is-green' %>
    <% end %>
  </div>

  <div class="dashboard-form">
    <%= render partial: 'admin/roles/form', locals: { f: f } %>
  </div>
</div>
<% end %>
